<div class="container mx-auto px-4">
  <div class="max-w-md mx-auto">
    <h1 class="text-2xl font-bold">ユーザー登録</h1>
    <%= form_with model: @user, class: "space-y-4" do |f| %>
      <div class="form-control">
        <%= f.label :last_name, class: "label" %>
        <label class="input input-bordered">
          <%= f.text_field :last_name, class: "input input-bordered w-full" %>
        </label>
      </div>
      <div class="form-control">
        <%= f.label :first_name, class: "label" %>
        <label class="input input-bordered">
          <%= f.text_field :first_name, class: "input input-bordered w-full" %>
        </label>
      </div>
      <div class="form-control">
        <%= f.label :email, class: "label" %>
        <label class="input input-bordered">
          <%= f.email_field :email, class: "input input-bordered w-full" %>
        </label>
      </div>
      <div class="form-control">
        <%= f.label :password, class: "label" %>
        <label class="input input-bordered">
          <%= f.password_field :password, class: "input input-bordered w-full" %>
        </label>
      </div>
      <div class="form-control">
        <%= f.label :password_confirmation, class: "label" %>
        <label class="input input-bordered">
          <%= f.password_field :password_confirmation, class: "input input-bordered w-full" %>
        </label>
      </div>
      <%= f.submit "登録", class: "btn btn-primary w-full mt-4" %>
    <% end %>
    <div class="text-center mt-4">
      <%= link_to 'ログインページへ', login_path, class: "link link-primary" %>
    </div>
  </div>
</div>
