<div class="container mx-auto px-4">
  <div class="max-w-md mx-auto">
    <h1 class="text-xl font-bold mb-4">ログイン</h1>
    <%= form_with url: login_path, class: "space-y-4" do |f| %>
      <div class="form-control">
        <%= f.label :email, class: "label" %>
        <label class="input-group">
          <%= f.email_field :email, placeholder: "Email", class: "input input-bordered w-full" %>
        </label>
      </div>
      <div class="form-control">
        <%= f.label :password, class: "label" %>
        <label class="input-group">
          <%= f.password_field :password, placeholder: "Password", class: "input input-bordered w-full" %>
        </label>
      </div>
      <%= f.submit "ログイン", class: "btn btn-primary w-full mt-4" %>
    <% end %>
    <div class="text-center mt-4 space-y-2">
      <%= link_to '登録ページへ', new_user_path, class: "link link-primary" %>
      <%= link_to 'パスワードをお忘れの方はこちら', '#', class: "link link-secondary" %>
    </div>
  </div>
</div>
