<!DOCTYPE html>
<html data-theme="aqua">
<head>
  <title>タイトル</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
</head>
<body class="min-h-screen flex flex-col">
  <%= render 'shared/header' %>

  <main class="flex-grow">
    <%= yield %>
  </main>

  <%= render 'shared/footer' %>
</body>
</html>
